{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}

<style>
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
      }
    .bar_top{
        width: 30px;
        height: 30px;
        background-color: white;
        border:1px solid  #7cefd0;
        border-radius: 50%;
        margin-right: 26%;
        list-style:none;
        font-size: 16px;
        color: #20e2ad;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        padding:2px;
        display: inline-block;
        transition: all 0.5s;
    }
    .bar_top_done{
        width: 30px;
        height: 30px;
        background-color: #7cefd0;
        border-radius: 50%;
        margin-right: 26%;
        list-style:none;
        font-size: 16px;
        color: white;
        text-align: center;
        padding:4px;
        display: inline-block;
        transition: all 0.5s;

    }
    .bar_t{
        list-style:none;
        font-size: 16px;
        color: #20e2ad;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 26%;
        align-items: center;
        display: flex;
        padding:2px;
        display: inline-block; 
    }
    #sel_wifies {
        background: white;
        border: 1px solid #1abc9c;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
      }
    #sel_wifies option {
        text-align: center;
        background: white;
        transition: all 1s;
    } 
    .snippet{
        font-family:Consolas, monospace;
        width: 125%;
        height: 100%;
        background-color: #0d1117;
        color:#f0f6fc;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 5px #ccc;
    }
    .snippet .line_num{
        color: #6e7681;
    }
    .snippet .module{
        color: #ff7b72;
    }
    .snippet .variable{
        color: #ffa657;
    }
    .snippet .attr{
        color: #d2a8ff;
    }
    .snippet .comment{
        color: #8b949e;
    }
    .snippet .json{
        color: #7ee787;
    }
    .snippet .json2{
        color:  #9ac8ee;
    }
   .snippet .command{
       background:white;
       position: relative;
       width: 100%;
       height:1px;
   }
   .snippet  .code-file-title{
    color: #ff7b72;
    font-size: 19px;
    padding-bottom: 1px;
   }
   .snippet .line{
    background:white;
    position: absolute;
    width: 85%;
    height:1px;
    padding-top:0px;
    }
    .clipboard{
        position: absolute;
        right: -50px;
        top: 20px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
    }
    .download{
        position: absolute;
        right: -10px;
        top: 20px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
    }
</style>
{% endblock css %}
{% block content %}

<!-- home-agency start -->
<section class="hero-5" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div id="main" class="col-lg-6">
                <h1 id="main_title" class="mb-4 display-5 fw-semibold noselect">{% translate "Save your wifi to use on your IoT device" %} </h1>
                <p id="main_p" class="text-muted fs-17 noselect">{% if request.user.is_authenticated %}{% if request.user.workshop %}{% translate "HurryUp documentations can save your time."%} {% else %}{% translate "Create your worksop. But first take a look to the documentation." %} {% endif %}{% else %}  {% translate "Register an account, define your url in your Arduino/NodeMCU IDE. That's it!" %}{% endif %}</p>
                <a href="{% url 'docs' %}" id="learn_btn" class="btn btn-lg btn-gradient-success mt-4 mb-4 mb-lg-0">{% translate "Learn More"  %}<i class="mdi mdi-arrow-right fs-14 ms-1"></i></a>
            </div>

            {% if request.user.is_authenticated %}

            <div class="col-md-8 col-lg-5 offset-lg-1">
                <div id="btns">
                    <ul>
                        <a style="cursor:pointer;" id="wifi_btn"><li class="bar_top noselect" id="bar_top1">1<br><p class="bar_t">WiFi</p></li></a>
                        <a style="cursor:pointer;" id="workshop_btn"> <li class="bar_top noselect" id="bar_top2">2<br><p class="bar_t">Workshop</p></li></a>
                    </ul> 
                </div>
                <div class="card mb-0" id="wifi_card">
                    <div class="card-body p-4">
                      <h5 id="wifi_h5" class="border-bottom fs-22 pb-3 mb-4 noselect">{% translate "Save your WiFi" %}</h5>
                      <form id="wifi_form">
                      <div class="mb-3">
                        <input style="opacity: 0;position: absolute;">
                          <label for="wifi" class="form-label text-muted fs-14">{% translate "WiFi Public Name" %}<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="wifi_name" placeholder="FiberHGW..." autocomplete="new-password">
                      </div>
                      <div class="mb-3">
                          <label for="pass" class="form-label text-muted fs-14">{% translate "WiFi Password" %} <span class="text-danger">*</span></label>
                          <input type="password" class="form-control" id="wifi_pass" placeholder="123qwerty..."  autocomplete="" >
                      </div>
                        <div class="mb-3">
                            <div class="text-muted" id="wifi_alert_p"></div>
                        </div>
                      <a id="submit_wifi" class="btn btn-primary w-100 noselect">{% translate "Save WiFi" %}</a>
                    </form>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="card-body p-4" id="workshop_card"  style="display:none;">
                        <h5 id="workshop_h5" class="border-bottom fs-22 pb-3 mb-4 noselect">{% translate "Setup your Workshop" %}</h5>
                        <form id="workshop_form"> 
                        <div class="mb-3" style="display:none;">
                            <label for="wifies">Selected WiFi</label>
                            <select name="wfies" id="sel_wifies">
                              
                            </select> 
                        </div>
                            <div class="mb-3">
                              <input style="opacity: 0;position: absolute;">
                                <label for="action" class="form-label text-muted fs-14">{% translate "Action Name" %}<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="act_name" placeholder="{% translate 'Open the lights' %}" autocomplete="new-password">
                            </div>
                            <div class="mb-3">
                                <label for="defaultresponse" class="form-label text-muted fs-14">{% translate "Default Response" %} <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="def_resp" placeholder="false"  autocomplete="" >
                            </div>
                            <div class="mb-3">
                                <label for="response" class="form-label text-muted fs-14">{% translate "Expected Response" %} <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="expected_resp" placeholder="true"  autocomplete="" >
                            </div> 
                            <label class="form-check-label" for="flexSwitchCheckDefault">Is response fixed</label>
                            <input type="checkbox" id="myCheck" onclick="checkDuration()">

                            <div class="mb-3" id="duration" style="display:none">
                                <label for="duration" class="form-label text-muted fs-14">{% translate "Duration of Response" %} <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="duration_input" placeholder="1000" autocomplete="" >
                            </div>
                            <div class="mb-3">
                                <div class="text-muted" id="wrsp_alert_p"></div>
                            </div>
                            <a id="submit_wksp" class="btn btn-primary w-100">Save Workshop</a>
                          </form>
                    </div>
                </div>
                <div class="snippet p-4" style="display:none;">
                   <i title="Copy" class='bx bx-copy-alt clipboard' id="clipboard"></i><i title="Save" id="download_wksp" class='bx bx-download download' ></i>
                   <i  class='clipboard' id="clipboard-copied"></i>
                    <div class="mb-3" id="code-content">
                            <span class="code-file-title" >configs.json</span>
                            <br>
                            <span class="line"></span>
                            <br>
                            <span class="comment">// Save this variables to use in IoT device</span><br>
                            {<br>
                            <span class="json">"username"</span>: <span class="json2">"{{request.user.username}}"</span>,
                            <br>
                            <span class="json">"action-name"</span>: <span class="json2">"<span id="code-action-name"></span>"</span>,
                            <br>
                            <span class="json">"wifi"</span>: <span class="json2">"<span id="code-wifi"></span>"</span>,
                            <br>
                            <span class="json">"secret-key"</span>: <span class="json2">"<span id="code-secret-key"></span>"</span>,
                            <br>
                            <span class="json">"URL"</span>: <span class="json2">"<span id="code-url"></span>"</span>,
                            <br>}
                    </div>
                </div>
                <a href="{% url 'control_panel' %}" id="control_panel_btn" class="btn btn-lg btn-gradient-success mt-4 mb-4 mb-lg-0" style="font-size: 18px; transform: rotate(360deg); display:none;">Control Now<i class="mdi mdi-arrow-right fs-14 ms-1"></i></a>
             </div>
             <div id="code-content-for-copy" style="position:absolute;width:1px;height:1px;overflow: hidden;clip: rect(0,0,0,0);">
                 <p>
                {<br>
                    // Save this variables to use in IoT device<br>"username": {{request.user.username}},<br>
                    "username": "{{request.user.username}}",<br>
                    "action-name": "<span id="copy-action-name"></span>",<br>
                    "wifi": "<span id="copy-wifi"></span>",<br>
                    "secret-key": "<span id="copy-secret-key"></span>",<br>
                    "URL": "<span id="copy-url"></span>",<br>
                <br>}
            </p> 
            </div>
            {% else %}{% comment %} 
            <small data-is="222" id="is_unAuthed"></small>
            if ($('#is_unAuthed').attr('data-is') > 0) { {% endcomment %}

            {% endif %}
        </div>
    </div>
 </section>
 <!-- home-agency end -->

<input id="this_username" type="hidden" value=""></input>
{% endblock content %}

{% block script %}
<script>
    $('#clipboard-copied').css('background','#333333');
    $('#clipboard-copied').css('color','#fff');
    $('#clipboard-copied').css('border-radius','10%');
    $('#clipboard-copied').css('padding','5px');
    $('#clipboard-copied').css('font-size','15px');
    $('#clipboard-copied').css('font-family','Arial');
    
    $('#clipboard-copied').hide()


    $('#clipboard').click(function(){
        var copyText = $('#code-content-for-copy').text();
        $('#code-content-for-copy').select();
        navigator.clipboard.writeText(copyText);
        document.execCommand("copy");
        $('#clipboard').hide()
        $('#clipboard-copied').show()
        $('#clipboard-copied').html('Copied')
        setTimeout(function() {
            $('#clipboard-copied').html('')
            $('#clipboard').show()
            $('#clipboard-copied').hide()
        }, 1000);
    });
    $('#clipboard').mouseover(function() {
        $('#clipboard').removeClass('bx-copy-alt');
        $('#clipboard').addClass('bxs-copy');
    });
    $('#clipboard').mouseout(function() {
        $('#clipboard').removeClass('bxs-copy');
        $('#clipboard').addClass('bx-copy-alt');
    });
    
    function checkDuration() {
    var checkBox = $("#myCheck");
    var duration = $("#duration");
    if (checkBox.prop("checked") == true){
        duration.hide();
    } else {
        duration.show();
    }}

    $("#myCheck").trigger('click');

    var wifies = $("#wifies");
    var selected_wifi = wifies.find(":selected").val();
    
    //WIFI
    $('#wifi_pass').mouseover(function(){
        $('#wifi_pass').attr('type','text')
    });
    $('#wifi_pass').mouseout(function(){
        $('#wifi_pass').attr('type','password')
    });
    $('#submit_wifi').click(function(){
        var wifi_name = $('#wifi_name').val()
        var wifi_pass = $('#wifi_pass').val()
        if (wifi_name == '') {
            $('#wifi_alert_p').show()
            $('#wifi_alert_p').html('{% translate "Fill all the fields" %}')
            setTimeout(function(){
                $('#wifi_alert_p').hide()
            },3000)
        }
        if (wifi_pass.length < 8 ){
            $('#wifi_alert_p').show()
            $('#wifi_alert_p').html('{% translate "Wifi passwords must be at least 8 characters" %}')
            setTimeout(function(){
                $('#wifi_alert_p').hide()
            },3000)
        }

        if (wifi_name.length > 0 &&  wifi_pass.length > 7) {
            $.ajax({
                type: "POST",
                url: "{% url 'config' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {'operation':'wifi', 'ssid':wifi_name,'password':wifi_pass, 'user':'{{ request.user.username }}'},
                dataType: "json",
                success: function(response) {
                     if(response.success == true){
                        $("#sel_wifies").children().remove();
                        $.each(response.user_wifies, function (i, wifi) {
                            $("#sel_wifies").append(
                                $('<option></option>').attr("value", wifi[0][0]).text(wifi[0][1]))
                        });
                        $('#sel_wifies option').last().attr('selected', true);
                        $('#sel_wifies').parent().show()

                        setTimeout(function(){
                            $('#wifi_h5').html('{% translate "WiFi Saved" %}')
                            $('#bar_top1').addClass('bar_top_done').removeClass('bar_top')
                            $('#main_title').css('opacity','0')
                            $('#main_title').css('transition','1s')
                            $('#control_panel_btn').css('transition','1s')
                            
                        },0)
                        setTimeout(function(){
                            $('#wifi_card').hide();
                            $('#workshop_card').show();
                            $('#main_title').html('{% translate "Configure Workshop." %}')
                            $('#main_title').css('opacity','1')
                            $('#control_panel_btn').css("display", "block");
                            $('#control_panel_btn').show();
                            $('#control_panel_btn').css('opacity','1')
                        },1000)
                     }
                     else if(response.status==false){
                       console.log(response.status)
                     }
                     else if(response.status=='duplicate'){
                        $('#wifi_alert_p').show()
                        $('#wifi_alert_p').html(response.msg)
                        setTimeout(function(){
                            $('#wifi_alert_p').hide()
                        },12000)
                    }
                 },
                 error: function(rs, e) {
                  console.log('error')
                 }
           }); 
        }
    });
</script>

<script>
    $('#wifi_btn').click(function(){
        $('#wifi_card').show();
        $('#workshop_card').hide();
        $('#main_title').html('{% translate "Save your wifi to use on your IoT device." %}')
    });
    //WORKSHOP
    $('#submit_wksp').click(function(){
        var actname = $('#act_name').val()
        var def_resp = $('#def_resp').val()
        var expected_resp = $('#expected_resp').val()
        if (actname == '') {
            $('#wrsp_alert_p').show()
            $('#wrsp_alert_p').html('{% translate "Fill all the fields" %}')
            setTimeout(function(){
                $('#wrsp_alert_p').hide()
            },3000)
        }
        if (expected_resp.length < 1 && def_resp.length < 1) {
            $('#wrsp_alert_p').show()
            $('#wrsp_alert_p').html('{% translate "Must be at least 1 character" %}')
            setTimeout(function(){
                $('#wrsp_alert_p').hide()
            },3000)
        }
        wif = $('#sel_wifies option').filter(':selected').val()
        
        duration = $('#duration_input').val()
        if ($('#myCheck').prop('checked') == true) {
            duration = 0
            duration_status=true

        }else{
            if ($.isNumeric(duration) == false) {
                $('#wrsp_alert_p').show()
                $('#wrsp_alert_p').html('{% translate "Duration must be a number" %}')
                duration = $('#duration_input').val()
                setTimeout(function(){
                    $('#wrsp_alert_p').hide()
                },3000)
                duration_status=false
            } else {
                duration_status=true
            }
        }
        
        if (actname.length > 0 &&  expected_resp.length > 0 && duration_status == true) {
            $.ajax({
                type: "POST",
                url: "{% url 'config' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    'operation':'workshop',
                    'actname':actname,
                    'def_resp':def_resp,
                    'expected_resp':expected_resp,
                    'is_fixed':$('#myCheck').prop('checked'),
                    'duration':duration,
                    'wifi':wif,
                    'user':'{{ request.user.username }}',
                },
                dataType: "json",
                success: function(response) {
                     if(response.success == true){
                        setTimeout(function(){
                            $('#main_title').html('{% translate "Configs Saved." %}')
                            $('.bar_top').addClass('bar_top_done').removeClass('bar_top')
                            $('#btns').css('transition','all 0.5s ease-in-out')
                            
                            $('.snippet').show()
                            $('.snippet').css('opacity','0')
                            location.href = "{% url 'config' %}" + '#home';
                            $('#workshop_card').hide();
                            $('#main').removeClass('col-lg-6').addClass('col-lg-4')
                            $('#btns').hide()
                            $('.snippet').css('transition','all 1s ease-in-out')
                            $('.snippet').css('margin-bottom','-300px')
                            setTimeout(function(){
                                $('.snippet').css('margin-bottom','10px')
                                $('.snippet').css('opacity','1')
                                $('#learn_btn').css('font-size','22px')
                            },1000)
                            setTimeout(function(){
                                $('#learn_btn').css('font-size','17px')
                            },1500)
                            
                            setTimeout(function(){
                                $('#learn_btn').css('transform','rotate(360deg)')
                                
                            },2000)
                            setTimeout(function(){
                                $('#learn_btn').css('font-size','22px')
                                
                            },2400)
                            
                            setTimeout(function(){
                                $('#learn_btn').css('font-size','18px')
                                $('#control_panel_btn').show();
                            },2900)
                          
                        },0)
                        $('#code-wifi').html(response.wifi)
                        $('#code-secret-key').html(response.secret_key)
                        $('#code-action-name').html(response.actname)
                        $('#code-url').html('<a href="' + response.url+ '"target="_blank">' + response.url + "</a>")
                        // copy
                        $('#copy-wifi').html(response.wifi)
                        $('#copy-secret-key').html(response.secret_key)
                        $('#copy-action-name').html(response.actname)
                        $('#copy-url').html(response.url)
                        
                        setTimeout(function(){
                            $('#wifi_card').hide();
                            $('#workshop_card').hide();
                            $('#main_p').html('{% translate "You can use this variables on your device." %}')

                        },1500)
                     }
                     else if(response.status==false){
                       console.log(response.status)
                     }
                     else if(response.status=='duplicate'){
                        $('#wrsp_alert_p').show()
                        $('#wrsp_alert_p').html(response.msg)
                        setTimeout(function(){
                            $('#wrsp_alert_p').hide()
                        },12000)
                    }
                 },
                 error: function(rs, e) {
                  console.log('error')
                 }
           }); 
        } 
    });
    // DOWNLOAD WORKSHOP INFO as JSON 
    $('#download_wksp').click(function(){
        $.ajax({
                type: "POST",
                url: "{% url 'config' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    'operation':'workshop_json',
                    'user':'{{ request.user.username }}',
                },
                dataType: "json",
                success: function(response) {
                     if(response.success == true){
                        let j = document.createElement("a")
                        j.download = "workshop_cretidts_"+Date.now()+".json"
                        j.href = URL.createObjectURL(new Blob([JSON.stringify(response.json, null, 2)]))
                        j.click()
                    }
                     
                     else if(response.status==false){
                        console.log(response.status)
                        }
                    },
                    error: function(rs, e) {
                     console.log('error')
                    }
              });
    })
                
</script>
<script>
        //GET WIFI LIST

    $('#workshop_btn').click(function(){
        $('#wifi_card').hide();
        $('#workshop_card').show();
        $('#main_title').html('{% translate "Configure Workshop." %}')

        $.ajax({
            type: "POST",
            url: "{% url 'config' %}",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'operation': 'get_wifi',
            },
            dataType: "json",
            success: function(response) {
                 if(response.success == true){
                    $("#sel_wifies").children().remove();
                    $.each(response.user_wifies, function (i, wifi) {
                        $("#sel_wifies").append(
                            $('<option></option>').attr("value", wifi[0][0]).text(wifi[0][1]))
                    });
                    $('#sel_wifies option').last().attr('selected', true);
                    $('#sel_wifies').parent().show()
                 }
                 else if(response.success==false){
                   console.log(response.status)
                 }
             },
             error: function(rs, e) {
              console.log('error')
             }
         });
    });
</script>
{% endblock script %}