{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block css %}

<style>
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
      }
      .response {
        position: absolute;
        right: 60px;
        font-size: 22px;
        text-shadow: 0px 6px 6px #13ba99;
        font-weight: bold;
        font-family: 'Cerebri Sans', sans-serif;
        
      }
      #dots {
        font-size: 25px;
        position: absolute;
        right: 20px;
        top: 10px;
      }
</style>
{% endblock css %}
{% block content %}

<!-- home-agency start -->
<section class="hero-5" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div id="main" class="col-lg-2">
                <h1 id="main_title" class="mb-4 display-6 fw-semibold noselect">{% translate "Documents" %} </h1>
                <p id="main_p" class="text-muted fs-17 noselect">{% if request.user.is_authenticated %}{% if request.user.workshop %}{% translate "We are getting ready the documentaions."%} {% else %}{% translate "Create your worksop. But first take a look to the documentation." %} {% endif %}{% else %}  {% translate "Register an account, define your url in your Arduino/NodeMCU IDE. That's it!" %}{% endif %}</p>
                <a href="{% url 'docs' %}" id="learn_btn" class="btn btn-lg btn-gradient-success mt-4 mb-4 mb-lg-0">{% translate "Learn More"  %}<i class="mdi mdi-arrow-right fs-14 ms-1"></i></a>
            </div>

            {% if request.user.is_authenticated %}

            <div class="col-md-8 col-lg-5 offset-lg-1">
                <h1>As Soon as Possible...</h1>
            {% else %}
            <a href="{% url 'signup' %}"  class="btn btn-lg btn-gradient-success mt-4 mb-4 mb-lg-0">{% translate "Sign-Up"  %}<i class="mdi mdi-arrow-right fs-14 ms-1"></i></a>
            

            {% endif %}
        </div>
    </div>
 </section>
 <!-- home-agency end -->

<input id="this_username" type="hidden" value=""></input>
{% endblock content %}

{% block script %}
<script>
    $('#clipboard-copied').css('background','#333333');
    $('#clipboard-copied').css('color','#fff');
    $('#clipboard-copied').css('border-radius','10%');
    $('#clipboard-copied').css('padding','5px');
    $('#clipboard-copied').css('font-size','15px');
    $('#clipboard-copied').css('font-family','Arial');
    
    $('#clipboard-copied').hide()


    $('#clipboard').click(function(){
        var copyText = $('#code-content-for-copy').text();
        $('#code-content-for-copy').select();
        navigator.clipboard.writeText(copyText);
        document.execCommand("copy");
        $('#clipboard').hide()
        $('#clipboard-copied').show()
        $('#clipboard-copied').html('Copied')
        setTimeout(function() {
            $('#clipboard-copied').html('')
            $('#clipboard').show()
            $('#clipboard-copied').hide()
        }, 1000);
    });
    $('#clipboard').mouseover(function() {
        $('#clipboard').removeClass('bx-copy-alt');
        $('#clipboard').addClass('bxs-copy');
    });
    $('#clipboard').mouseout(function() {
        $('#clipboard').removeClass('bxs-copy');
        $('#clipboard').addClass('bx-copy-alt');
    });
    
    function checkDuration() {
    var checkBox = $("#myCheck");
    var duration = $("#duration");
    if (checkBox.prop("checked") == true){
        duration.hide();
    } else {
        duration.show();
    }}

    $("#myCheck").trigger('click');

    var wifies = $("#wifies");
    var selected_wifi = wifies.find(":selected").val();
    
    //WIFI
    $('#wifi_pass').mouseover(function(){
        $('#wifi_pass').attr('type','text')
    });
    $('#wifi_pass').mouseout(function(){
        $('#wifi_pass').attr('type','password')
    });
    $('#submit_wifi').click(function(){
        var wifi_name = $('#wifi_name').val()
        var wifi_pass = $('#wifi_pass').val()
        if (wifi_name == '') {
            $('#wifi_alert_p').show()
            $('#wifi_alert_p').html('{% translate "Fill all the fields" %}')
            setTimeout(function(){
                $('#wifi_alert_p').hide()
            },3000)
        }
        if (wifi_pass.length < 8 ){
            $('#wifi_alert_p').show()
            $('#wifi_alert_p').html('{% translate "Wifi passwords must be at least 8 characters" %}')
            setTimeout(function(){
                $('#wifi_alert_p').hide()
            },3000)
        }

        if (wifi_name.length > 0 &&  wifi_pass.length > 7) {
            $.ajax({
                type: "POST",
                url: "{% url 'config' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {'operation':'wifi', 'ssid':wifi_name,'password':wifi_pass, 'user':'{{ request.user.username }}'},
                dataType: "json",
                success: function(response) {
                     if(response.success == true){
                        $("#sel_wifies").children().remove();
                        $.each(response.user_wifies, function (i, wifi) {
                            $("#sel_wifies").append(
                                $('<option></option>').attr("value", wifi[0][0]).text(wifi[0][1]))
                        });
                        $('#sel_wifies option').last().attr('selected', true);
                        $('#sel_wifies').parent().show()

                        setTimeout(function(){
                            $('#wifi_h5').html('{% translate "WiFi Saved" %}')
                            $('#bar_top1').addClass('bar_top_done').removeClass('bar_top')
                            $('#main_title').css('opacity','0')
                            $('#main_title').css('transition','1s')
                        },0)
                        setTimeout(function(){
                            $('#wifi_card').hide();
                            $('#workshop_card').show();

                            $('#main_title').html('{% translate "Configure Workshop." %}')
                            $('#main_title').css('opacity','1')

                        },1000)
                       console.log(response)
                     }
                     else if(response.status==false){
                       console.log(response.status)
                     }
                     else if(response.status=='duplicate'){
                        $('#wifi_alert_p').show()
                        $('#wifi_alert_p').html(response.msg)
                        setTimeout(function(){
                            $('#wifi_alert_p').hide()
                        },12000)
                    }
                 },
                 error: function(rs, e) {
                  console.log('error')
                 }
           }); 
        }
    });
</script>

<script>
    $('#wifi_btn').click(function(){
        $('#wifi_card').show();
        $('#workshop_card').hide();
        $('#main_title').html('{% translate "Save your wifi to use on your IoT device." %}')
    });
    //WORKSHOP
    $('#submit_wksp').click(function(){
        var actname = $('#act_name').val()
        var def_resp = $('#def_resp').val()
        var expected_resp = $('#expected_resp').val()
        if (actname == '') {
            $('#wrsp_alert_p').show()
            $('#wrsp_alert_p').html('{% translate "Fill all the fields" %}')
            setTimeout(function(){
                $('#wrsp_alert_p').hide()
            },3000)
        }
        if (expected_resp.length < 1 && def_resp.length < 1) {
            $('#wrsp_alert_p').show()
            $('#wrsp_alert_p').html('{% translate "Must be at least 1 character" %}')
            setTimeout(function(){
                $('#wrsp_alert_p').hide()
            },3000)
        }
        wif = $('#sel_wifies option').filter(':selected').val()
        
        duration = $('#duration_input').val()
        if ($('#myCheck').prop('checked') == true) {
            duration = 0
            duration_status=true

        }else{
            if ($.isNumeric(duration) == false) {
                $('#wrsp_alert_p').show()
                $('#wrsp_alert_p').html('{% translate "Duration must be a number" %}')
                duration = $('#duration_input').val()
                setTimeout(function(){
                    $('#wrsp_alert_p').hide()
                },3000)
                duration_status=false
            } else {
                duration_status=true
            }
        }
        
        if (actname.length > 0 &&  expected_resp.length > 0 && duration_status == true) {
            $.ajax({
                type: "POST",
                url: "{% url 'config' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    'operation':'workshop',
                    'actname':actname,
                    'def_resp':def_resp,
                    'expected_resp':expected_resp,
                    'is_fixed':$('#myCheck').prop('checked'),
                    'duration':duration,
                    'wifi':wif,
                    'user':'{{ request.user.username }}',
                },
                dataType: "json",
                success: function(response) {
                     if(response.success == true){
                        setTimeout(function(){
                            $('#main_title').html('{% translate "Configs Saved." %}')
                            $('.bar_top').addClass('bar_top_done').removeClass('bar_top')
                            $('#btns').css('transition','all 0.5s ease-in-out')
                            
                            $('.snippet').show()
                            $('.snippet').css('opacity','0')
                            location.href = "{% url 'config' %}" + '#home';
                            $('#workshop_card').hide();
                            $('#main').removeClass('col-lg-6').addClass('col-lg-4')
                            $('#btns').hide()
                            $('.snippet').css('transition','all 1s ease-in-out')
                            $('.snippet').css('margin-bottom','-300px')
                            setTimeout(function(){
                                $('.snippet').css('margin-bottom','10px')
                                $('.snippet').css('opacity','1')
                                $('#learn_btn').css('font-size','22px')
                                
                            },1000)
                            setTimeout(function(){
                                $('#learn_btn').css('font-size','17px')
                                
                            },1500)
                            
                            setTimeout(function(){
                                $('#learn_btn').css('transform','rotate(360deg)')
                                
                            },2000)
                            setTimeout(function(){
                                $('#learn_btn').css('font-size','22px')
                                
                            },2400)
                            
                            setTimeout(function(){
                                $('#learn_btn').css('font-size','18px')
                                
                            },2900)
                          
                        },0)
                        $('#code-wifi').html(response.wifi)
                        $('#code-secret-key').html(response.secret_key)
                        $('#code-action-name').html(response.actname)
                        $('#code-url').html('<a href="' + response.url+ '"target="_blank">' + response.url + "</a>")
                        // copy
                        $('#copy-wifi').html(response.wifi)
                        $('#copy-secret-key').html(response.secret_key)
                        $('#copy-action-name').html(response.actname)
                        $('#copy-url').html(response.url)
                        
                        setTimeout(function(){
                            $('#wifi_card').hide();
                            $('#workshop_card').hide();
                            $('#main_p').html('{% translate "You can use this variables on your device." %}')

                        },1500)
                     }
                     else if(response.status==false){
                       console.log(response.status)
                     }
                     else if(response.status=='duplicate'){
                        $('#wrsp_alert_p').show()
                        $('#wrsp_alert_p').html(response.msg)
                        setTimeout(function(){
                            $('#wrsp_alert_p').hide()
                        },12000)
                    }
                 },
                 error: function(rs, e) {
                  console.log('error')
                 }
           }); 
        } 
    });
    // DOWNLOAD WORKSHOP INFO as JSON 
    $('#download_wksp').click(function(){
        $.ajax({
                type: "POST",
                url: "{% url 'config' %}",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    'operation':'workshop_json',
                    'user':'{{ request.user.username }}',
                },
                dataType: "json",
                success: function(response) {
                     if(response.success == true){
                        let j = document.createElement("a")
                        j.download = "workshop_cretidts_"+Date.now()+".json"
                        j.href = URL.createObjectURL(new Blob([JSON.stringify(response.json, null, 2)]))
                        j.click()
                    }
                     
                     else if(response.status==false){
                        console.log(response.status)
                        }
                    },
                    error: function(rs, e) {
                     console.log('error')
                    }
              });
    })
                
</script>
<script>
        //GET WIFI LIST

    $('#workshop_btn').click(function(){
        $('#wifi_card').hide();
        $('#workshop_card').show();
        $('#main_title').html('{% translate "Configure Workshop." %}')

        $.ajax({
            type: "POST",
            url: "{% url 'config' %}",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'operation': 'get_wifi',
            },
            dataType: "json",
            success: function(response) {
                 if(response.success == true){
                    $("#sel_wifies").children().remove();
                    $.each(response.user_wifies, function (i, wifi) {
                        $("#sel_wifies").append(
                            $('<option></option>').attr("value", wifi[0][0]).text(wifi[0][1]))
                    });
                    $('#sel_wifies option').last().attr('selected', true);
                    $('#sel_wifies').parent().show()
                 }
                 else if(response.success==false){
                   console.log(response.status)
                 }
             },
             error: function(rs, e) {
              console.log('error')
             }
         });
    });
</script>
{% endblock script %}