{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-5" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
    
<div class="col-md-8 col-lg-5 offset-lg-1">
    <div class="card mb-0">
     {{form.errors}}
     <form method="POST">
        <div class="card-body p-4">
          <h5 class="border-bottom fs-22 pb-3 mb-4">Login to Manage</h5>
          {% csrf_token %}
             {{ form.as_p }} 
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
     </form>

    </div>
 </div>
</div>
</div>
</section>
{% endblock content %}
{% block script %}
<script>
    function a() {
        $('input').addClass('form-control');  
    }
    a();
</script>
{% endblock script %}
