{% extends 'base.html' %} {% load static %} {% load i18n %} {% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %} "> {% endblock css %} {% block content %}
<!-- home-agency start -->
<section class="herom" id="home">
    <div class="profile">
        <div class="secs profile_sec1">
            <span class="pp"></span>
            <h4>{{request.user.username}} <span class="hor-line"></span> <span class="h42">Owner <i class='bx bxs-pencil  ' ></i></span></span>
            </h4>
            <div class="form-check form-switch justify-content-end dark-mode-switch">
                <input class="form-check-input d-none" type="checkbox" role="switch" id="flexSwitchCheckDefault">

                <i class='bx bx-toggle-left dark-icon' style='{% if request.user.profile.dark_mode %} display:none; {% endif %}' id="dark-off"></i>
                <i class='bx bxs-toggle-right dark-icon' style='{% if not request.user.profile.dark_mode %} display:none; {% endif %}' id="dark-on"></i>
                <label class="form-check-label dark-mode-label dark-mode-text" for="flexSwitchCheckDefault"><b>Dark Mode</b></label>
            </div>
        </div>
        <br>
        <div class="secs profile_sec2">
            <h5 style="margin-left: 10px;">My Last Actions <i class='bx bx-chevron-down ico-size'></i><i class='bx bx-chevron-up ico-size'></i></h5>
            <ul class="actions">
                {% for act in last_actions %}
                {% if act.action == "1" %}
                    <li>
                        <p><span class="added-dot"></span> Added <span class="act-name">{{act.workshop}}</span></p>
                    </li>
                {% elif act.action == "2" %}
                <li>
                    <p><span class="used-dot"></span> <span class="act-name">{{act.workshop}}</span> Used</p>
                </li>
                {% elif act.action == "3" %}
                <li>
                    <p><span class="removed-dot"></span>Removed <span class="act-name">{{act.workshop}}</span></p>
                </li>
                {% else %}
                <li>
                    No Action
                </li>
                {% endif %}
                
                
                {% endfor %}
                
            </ul>
        </div>
        <br>
        <div class="secs profile_sec3">
            <h5 style="margin-left: 10px;">{% trans 'My Usage Analysis' %} <i class='bx bx-bar-chart ico-size'></i></h5>
            <br>
             
            <canvas id="myChart"></canvas>
         <br><br>
        </div><br><br><br><br>
    </div>
    </div>
    <input type="hidden" id="_dark_infocu" value="{{request.user.profile.dark_mode}}">
</section>
<!-- home-agency end -->

<input id="this_username" type="hidden" value=""></input>
{% endblock content %} {% block script %}
<script>

    $(document).ready(function() {
        if ($('#_dark_infocu').val() == 'True') {
            document.documentElement.style.setProperty('--layer', '#202020')
            document.documentElement.style.setProperty('--layer-back', '#0f0f0f')
            document.documentElement.style.setProperty('--text-color', '#ece6e6d9');
            document.documentElement.style.setProperty('--testi-back', 'rgb(21, 13, 4)');

        } else {
            document.documentElement.style.setProperty('--layer', '#eaeaea')
            document.documentElement.style.setProperty('--layer-back', '#fff')
            document.documentElement.style.setProperty('--testi-back', 'rgba(255, 194, 18, 0.25)');
            document.documentElement.style.setProperty('--text-color', '#0f0f0f');

        }
    })
    $('.dark-icon').click(function() {
        $('#flexSwitchCheckDefault').trigger('click')
        if ($('#_dark_infocu').val() == 'True') {
            $('#dark-on').hide();
            $('#dark-off').show();
            $('#_dark_infocu').val('False')
        } else {
            $('#dark-on').show();
            $('#dark-off').hide();
            $('#_dark_infocu').val('True')
        }
    })
    $('#flexSwitchCheckDefault').click(function() {
        $.ajax({
            type: "POST",
            url: "{% url 'profile' %}",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'operation': 'dark-mode',
                'is_dark': $(this).is(':checked'),
            },
            dataType: "json",
            success: function(response) {
                if (response.success == true) {
                    document.documentElement.style.setProperty('--layer', response.layer)
                    document.documentElement.style.setProperty('--layer-back', response.layer_back)
                    document.documentElement.style.setProperty('--text-color', response.text_color);
                    console.log(response.layer);

                } else if (response.status == false) {
                    console.log(response.status)
                }
            },
            error: function(rs, e) {
                console.log('error')
            }
        });
        console.log($('#flexSwitchCheckDefault').is(":checked"));
    });
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for act in most_used_workshops %},'{{act.actname}}'{% endfor %}],
            datasets: [{
                label: 'workshop {% trans 'usage' %}',
                data: [{% for act in most_used_workshops %},{{act.usage_count}}{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 3
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Usage Analysis'
                },
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock script %}